doctype html
html
  head
    meta(name='google', value='notranslate') 
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/frontend-logic.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .logo
        a(onclick='goToMainPage()') 
          img(src='/images/logo-aparcandgo.svg', alt='aparcandgo logo')
      .lng-selector
        a(onclick='changeLanguage("es")') 
          img(src='/images/spain.svg', alt='spanish') 

        a(onclick='changeLanguage("ca")') 
          img(src='/images/catalonia.svg', alt='catalan')

        a(onclick='changeLanguage("en")') 
          img(src='/images/united-kingdom.svg', alt='english')

        a(onclick='changeLanguage("fr")') 
          img(src='/images/france.svg', alt='french')
            
    #content
      block content

    // display:none, then toggle visibility
    
    block waiting
      #waiting
        span.loader

    block codeError
      p#code-error #{code_error} 

    block errorDev
      p#dev-error #{error_dev_message}