extends layout

block content

  #main-section
    p.main-text #{main_text}

    #main-explanation 
      p #{scanner_instructions}
      img(src='/images/barcode-scanner.svg')

  a#button.btn.manual-btn(onclick='goToManualInput()') 
    img.manual-btn__icon(src='/images/manual.svg') 
    span.manual-btn__text #{manual_btn_text}