extends layout

block content

  #manual-input-section

    #manual-input-info
      img.manual-input-info__icon(src='/images/keyboard_blue.svg') 
      p #{text_info}

    #manual-input-form
      input#manual-input(type="text", name="manual-input" placeholder=placeholder)
      a#manual-btn.btn.manual-input-btn
        img.manual-input-btn__icon(src='/images/forward-arrow.svg') 
        span.manual-input-btn__text #{send_btn_text}

  a#return.btn.return-btn(onclick='goToMainPage()') 
    img.return-btn__icon(src='/images/back-arrow.svg') 
    span.return-btn__text #{back_btn_text}

  #keyboard
    a.close-keyboard X
    .keys
      a.key 1
      a.key 2
      a.key 3
      a.key 4
      a.key 5
      a.key 6
      a.key 7
      a.key 8
      a.key 9
      a.key 0
      a.key
        img(src='/images/delete-tool.svg') 