extends layout

block content

  p#opening-error-title #{title} 

  #reason
    if reason
      each val in reason
        div= val

  script.
    window.addEventListener('load', function () {
      setTimeout(function(){ window.location.href = '/'}, 10000)
    })