extends layout

block content

  p#error-title(onclick='showDevError(errorDev)') #{title} 

  #reason
    if reason
      each val in reason
        div= val

  script.
    window.addEventListener('load', function () {
      setTimeout(function(){ window.location.href = '/'}, 10000)
    })  
    let errorDev = '#{error_dev_message}'