extends layout

block content

  #opening-steps-section
    if instructions
      .step-1
        img.step-number(src='/images/one.svg')
        img.step-img(src='/images/'+instructions[0])
      .step-2  
        img.step-number(src='/images/two.svg')
        img.step-img(src='/images/'+instructions[1])
      .step-3
        img.step-number(src='/images/three.svg')
        img.step-img(src='/images/'+instructions[2])

  #opening-error-section
  
    .opening-error-message
      img.opening-error-message__img(src='/images/closed-toll-road.svg')
      p.opening-error-message__text 
        | #{opening_error_text_1} 
        span.warning-text #{opening_error_text_2} 
        | #{opening_error_text_3}

    a#report-btn.btn.opening-error-btn(onclick='goToOpeningError()') 
      img.opening-error-btn__icon(src='/images/warning.svg') 
      span.opening-error-btn__text #{report_btn_text}

  
  script.
    window.addEventListener('load', function () {
      setTimeout(function(){ window.location.href = '/'}, 10000)
    })