extends layout

block content

  p#warning-view-title #{title} 

  #warning-view-section

    #warning-view-images
      if warning_images  
        each val in warning_images
          img.warning-view-img(src='/images/'+val)

    #warning-view-messages
      if warning_messages
        each val in warning_messages
          div= val

  a#warning-view-btn.btn.warning-view-btn
      img.warning-view-btn__icon(src='/images/forward-arrow.svg') 
      span.warning-view-btn__text #{warning_btn_text}

  script.
    window.addEventListener('load', function () {
      setTimeout(function(){ window.location.href = '/'}, 60000)
    })