/* Layout */

html, body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 226, 228);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 35%;
  padding: 20px;
}

.lng-selector {
  margin-right: 20px;
}

.lng-selector img {
  width: 50px;
  margin-left: 25px;
  margin-top: 14px;
}

/* Content block commons */

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */

.btn {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin: 0 0 20px 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.btn:active {
  background-color: #009dda;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

.manual-btn, 
.return-btn,
.warning-view-btn {
  background-color: #009dda;
}

.manual-input-btn {
  background-color: #289c59;
  margin: 0;
  margin-left: 15px;
  padding: 21px 32px;
}

.manual-btn__icon, 
.return-btn__icon, 
.opening-error-btn__icon, 
.manual-input-btn__icon,
.warning-view-btn__icon {
  width: 40px;
  padding-right: 15px;
}

.manual-input-info__icon {
  width: 50px;
  padding-right: 15px;
}

/* Main page */

#main-section,
#warning-view-section {
  text-align: center;
}

.main-text {
  font-size: 40px;
  font-weight: bold;
  color: #009dda;
}

#main-explanation,
#warning-view-section {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
}

#main-explanation p {
  font-size:30px;
  width: 80%;
}

#button {
  display: flex;
}

/* Success view */

#opening-steps-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.step-1, .step-2, .step-3 {
  display: flex;
  flex-direction: column;
}

.step-number {
  width: 45px;
  padding-top: 10px;
  padding-left: 10px;
}

.step-img {
  width: 112px;
  padding: 10px 40px;
  padding-top: 20px;
}

#opening-error-section {
  background: repeating-linear-gradient( -45deg, rgb(198, 204, 209), rgb(198, 204, 209) 5px, rgb(223, 226, 228) 5px, rgb(223, 226, 228) 10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 0;
}

.opening-error-btn {
  background-color: rgb(40, 87, 108);
  width: 43.5%;
  font-size: 20px;
  margin: 0;
}

.opening-error-message {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.opening-error-message__text {
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  padding: 1px 18px
}

.warning-text {
  color: red;
}

.opening-error-message__img {
  width: 60px;
  padding: 0 10px;
}

/* Manual input view */

#manual-input-info, #manual-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#manual-input-info {
  margin-top: 40px;
}

#manual-input-info p {
  font-size: 26px;
  width: 62%;
  text-align: center;
  color: #646363;
}

#manual-input-section input[type=text] {
  width: 300px;
  padding: 14px 14px;
  border-radius: 4px;
  border: none;
  background-image: url('/images/aparcandgo_logo_icon.svg');
  background-position: -1px -5px;
  background-repeat: no-repeat;
  padding-left: 93px;
  font-size: 47px;
}

#manual-input-section input[type=text]:focus {
  outline: none;
}

#manual-input-section input[type="text"]::-webkit-input-placeholder {
  font-size: 22px;
  transform: translate(1%, -27%);
}

/* Warning view */

#warning-view-section {
  align-items:center;
}

#warning-view-title {
  font-size: 40px;
  color: #646363;
  font-weight: bold;
  margin-bottom: -50px;
}

#warning-view-images .warning-view-img {
  width: 200px;
}

#warning-view-messages {
  line-height : 45px;
  font-size: 30px;
}


/* Error view */

#error-title {
  font-size: 50px;
  color: red;
}

#opening-error-title {
  font-size: 40px;
  color: #646363;
  font-weight: bold;
}

#reason {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20%;
  font-size: 40px;
}

/* code-error: triggered at manual view, code error text before sent to server */
/* dev-error: triggered when "ERROR" title text is clicked. It works only if dev error message exists */

#code-error,
#dev-error {
  display: none;
  font-size: 40px;
  color: #646363;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 80px;
}

/* Waiting view */

#waiting {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 122px;
  font-size: 40px;
  color: #009dda;
}

.loader{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: #009dda;
  border-radius: 50px;
  border: 6px solid rgba(2, 167, 223, 0.3);
  margin-right: 25px;
}

.loader:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #009dda;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}

/* DISPLAY KEYBOARD */

#keyboard {
  display: none;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  top: 74%;
  position: absolute;
}

.keys {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 20px;
  justify-content: center;
}

.key {
  width: 65px;
  background-color: rgba(255, 255, 255, 0.514);
  font: 14px "Helvetica", sans-serif;
  color: #646363;
  display: flex;
  font-size: 55px;
  border: solid 1px #009dda;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 0 0 10px 1px #009dda;
  cursor: pointer;
}

.key img {
  width: 40px;
}

.key:active {
  font-size: 50px;
  box-shadow: 0 0 2px 1px #009dda;
}

.close-keyboard {
  position: absolute;
  top: -40px;
  right: 12px;
  background-color: #009dda;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  color:white;
  font-size: 25px;
  font-family: "Arial"
}

.close-keyboard:active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}